footer
  .container.text-center
    p.pull-left UVic SENG299 Software Architecture Project
    ul.pull-right.list-inline
      li
        a(href='https://github.com/martinwan/JustGo') GitHub Project

